html, body {
  height: 70%;
}

body{
  margin-right: 6px /*gambiarra pra encaixar os backgrounds*/
}


html{
  background-image: url("wallp3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}


.Center_info{
  overflow: scroll;
  border: none;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 200px;
}

.title{
  text-align: center;
  font-size: 55px;
  font-family: 'Brush Script MT', cursive;
}

.box_general{
  font-size: 28px;
  font-family: 'Brush Script MT', cursive;
  margin-top: 10%;

}
/*38.8%  CENTER*/
.box_1{
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-radius: 40px;
  margin-left: 32.1%; /*16:9 proportion*/
  width: 13.4%;
  height: 60px;
  background-color: grey;
}
.box_2{
  display: inline-block;
  border-style: solid;
  border-color: grey;
  border-radius: 40px;
  background-color: grey;
  margin-left: 8%;
  width: 13.4%;
  height: 60px;
}

#intro{
  text-align: center;
  margin-top: 4.4%;
}

.bottom_bar{
  border: none;
  width: 1920px;
  height: 150px;
  background-color: black;
  opacity: 93%;
  margin-top: 10%;
}
